		<ul class="article-list">
			<% @articles.each do |article| %>
				<li>
					<h2 class="article-title"><a href="#" onclick="get('article',<%= article.id %>)"><%= article.title %></h2>
					<p class="article-date"><%= article.created_at.localtime.to_date.to_formatted_s(:long_ordinal) %></p>
				</li>
			<% end %>

		</ul>